.container{
    margin: 50px auto;

    width: 1000px;
    height: 1100px;
    background: #fff;
}

.column_left{
  float:left;
  width: 300px;
  height: 1100px;
  background-color: red;
}

.column_left h2{
  text-align: center;
}
.column_right{
  float:left;
  width: 700px;
  height: 1100px;
  background: #A99265;
}

.col_left_ID img{
  height: 100px;
}
