body{
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(218, 216, 216);
  line-height: 20px;
}

table{
  margin-left: 40px;
  margin-right: 40px;
}

td{
  column-width: 200px;
}

h2::first-letter{
  text-transform : uppercase;
}

a:link{
  color: aliceblue;
}

a:visited{
  color: cadetblue;
}

.surnameName{
  font-size: 35px;
  color: rgb(179, 179, 179);
}

.tableSpace{
  height: 20px;
}
.container{
    display: flex;
    margin: auto;
    width: 1000px;
    height: 1100px;
    background-color: lime;
}

.column_left{
  width: 300px;
  height: 1100px;
  background-color: #225565;
  color: whitesmoke;
}

.column_left h2{
  text-align: center;
}
.column_left p,
.column_left a{
  margin-left: 20px;
}

.idPhoto{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.column_right{
  width: 700px;
  height: 1100px;
  background: whitesmoke;
  color: rgb(70, 70, 70);
}

.col_right_profile p{
  text-align: justify;
  margin-right: 40px;
  margin-left: 40px;
}


.column_right h2{
  color: #225565;
  margin-left: 30px;
}

.col_right_leftSide{
  float:left;
  margin-top: 0px;
}
.col_right_rightSide{
  margin-top: auto;
}
