.container{
    margin: 50px auto;
    width: 1000px;
    height: 1100px;
    background: #fff;
}

.column_left{
  float:left;
  width: 300px;
  height: 1100px;
  background: #327D9D;
  color: white;
}

.column_left h2{
  text-align: center;
}

.col_left_ID img{
  height: 300px;
}

.column_right{
  float:right;
  width: 700px;
  height: 1100px;
  background: #A99265;
}

.col_right_exp{
  margin-top: 100px;
}
